/* main  */

main {
  padding: 4rem 0;
}

.main {
  margin-top: 4rem;
}

.main-content {
  max-width: 580px;
  margin: 0 auto;
}

.popular-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.popular-tag {
  padding: 0.5rem 1rem;
  border: 1px solid var(--text-clr-sec);
  border-radius: 2rem;
  font-size: 0.9rem;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--text-clr-pri);
  font-weight: 600;
}

.trending-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.trending-tag {
  padding: 0.5rem 1rem;
  background-color: var(--tag-bg);
  border-radius: 2px;
  font-size: 0.9rem;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--text-clr-pri);
  font-weight: 600;
}

/* posts */

.homepage-post {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--text-clr-sec);
}

.homepage-post-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.homepage-post-top-bar-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.time {
  color: var(--text-clr-sec);
  font-size: 0.875rem;
}

.homepage-post-top-bar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--tag-bg);
}

.homepage-post-profile-img {
  border-radius: 50%;
}

.homepage-post-title {
  margin-bottom: 0.5rem;
}

.homepage-post-img {
  margin-bottom: 0.5rem;
  padding: 0 2rem;
  background-color: var(--black-op-1);
}

.homepage-post-img > img {
  width: 100%;
}

.homepage-post-tags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.tag {
  padding: 0.5rem 1rem;
  background-color: var(--tag-bg);
  border-radius: 2px;
  font-size: 0.9rem;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--text-clr-pri);
  font-weight: 600;
}

.upvote-share {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upvote,
.share {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.upvote-btn,
.downvote-btn,
.comment-btn {
  padding: 0.5rem 1rem;
  border: 1px solid var(--tag-bg);
  border-radius: 2px;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-clr-pri);
}

.share-btn {
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-clr-pri);
}

.fb-share-btn {
  background-color: var(--fb-btn-bg);
}

.pt-share-btn {
  background-color: var(--pn-btn-bg);
}

@media (max-width: 560px) {
  .upvote-share {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
