.post-main {
  max-width: 580px;
  margin: 0 auto;
  padding: 2rem 0;
  margin-top: 4rem;
}

.comments {
  margin-top: 2rem;
}

.new-comment {
  margin-bottom: 2rem;
}

.write-new-comment {
  background: var(--bg-sec);
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: var(--text-clr-pri);
  font-size: 1rem;
  line-height: 1.6;
  padding: 0.75rem;
  outline: none;
  border: 1px solid var(--text-clr-sec);
  resize: none;
}

.post-comment-btn-container {
  display: flex;
  justify-content: flex-end;
}

.post-comment-btn {
  border-radius: 0;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: var(--blue-clr);
  color: var(--text-clr-pri);
  border-radius: 1rem;
  cursor: pointer;
}

.existing-comment {
  background-color: var(--text-clr-sec);
  padding: 1rem;
  border-radius: 1rem;

  margin-bottom: 1rem;
}

.existing-comment-header {
  display: flex;
  align-items: center;
}

.existing-comment-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.existing-comment-header .user-name {
  font-size: 0.9rem;
  font-weight: 500;
}
.existing-comment-header .user-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.existing-comment-header .time-ago {
  font-size: 0.9rem;
  color: #999;
}

.existing-comment-body {
  line-height: 1.6;
  margin: 0.5rem 0;
  font-size: 0.875rem;
}

.exisiting-comment-footer {
  display: flex;
  gap: 1rem;
}

.likes,
.dislikes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.likes-count,
.dislikes-count {
  font-size: 0.75rem;
}

.likes-icon,
.dislikes-icon {
  font-size: 1.25rem;
  cursor: pointer;
}

.likes-icon {
  color: var(--blue-clr);
}

.dislikes-icon {
  color: var(--dislike-clr);
}
