.profile-container {
  max-width: 600px;
  margin: 0 auto;

  margin-top: 6rem;

  margin-bottom: 6rem;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 4rem;

  margin-bottom: 2rem;

  padding: 1rem;
}

.profile-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-clr-sec);
}

.profile-img i {
  font-size: 5rem;
}

.profile-username {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 500;
}

.profile-desc-header {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-bottom: 1rem;
}

.edit-profile-btn {
  color: var(--text-clr-pri);

  padding: 0.5rem 1rem;
  border: 1px solid var(--text-clr-sec);
  font-size: 0.9rem;
}

.profile-settings-icon {
  font-size: 1.5rem;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.post-count,
.followers-count,
.following-count {
  font-weight: 600;
}

.profile-content {
  margin-top: 4rem;
}

.profile-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text-clr-pri);
}

.profile-content-categories {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile-content-category {
  color: var(--text-clr-pri);
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem;
}

.profile-content-category.active {
  border-bottom: 2px solid var(--text-clr-pri);
}

.profile-content-more-options {
  cursor: pointer;
  margin-right: 0.5rem;
}

.profile-posts-container {
  background-color: var(--black-op-1);
  padding: 1rem;
  margin-top: 1rem;
}

.profile-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 0.5rem;
}

@media (max-width: 578px) {
  .profile-info {
    gap: 1rem;
  }

  .profile-img {
    width: 4rem;
    height: 4rem;
  }

  .profile-img i {
    font-size: 2rem;
  }

  .profile-desc-header {
    gap: 0.5rem;
  }

  .profile-settings-icon {
    font-size: 1rem;
  }

  .edit-profile-btn {
    display: none;
  }

  .total-posts,
  .total-followers,
  .total-following {
    font-size: 0.75rem;
  }

  .profile-content-categories {
    gap: 0.25rem;
    font-size: 0.75rem;
  }

  .profile-details {
    gap: 0.5rem;
  }
}
