* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

body {
  background-color: #141414;
  color: #ececec;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.container {
  width: 95%;
  /* max-width: 1536px; */
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.hidden {
  display: none;
}

/* nav */

nav {
  padding: 1rem 0;
  border-bottom: 1px solid #5b5b5b;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #141414;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-links-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #fefefe;
  font-weight: 600;
}

.hamburger {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.search {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
  background-color: #303030;
  border-radius: 4rem;
  position: relative;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #303030;
  border: none;
  outline: none;
  border-radius: 1rem;
  color: #ececec;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  border-radius: 4rem;
}

.search-icon {
  color: #5b5b5b;
  position: absolute;
  font-size: 1.25rem;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.log-in,
.sign-up {
  color: #5b5b5b;
}

.user {
  background-color: #5b5b5b;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.user-icon {
  font-size: 1rem;
}

.pri-btn {
  padding: 0.5rem 1.5rem;
  background-color: #006be6;
  color: #fefefe;
  border-radius: 2rem;
  font-size: 0.9rem;
}

.new-post {
  font-size: 0.9rem;
}

/* sidebar */

aside {
  max-height: calc(100vh - 68px);
  padding: 2rem 0;
  width: 200px;
  box-shadow: 2px 0px 5px rgb(48, 48, 48, 0.25);
  overflow-y: scroll;
  position: fixed;
  top: 68px;
  background: #141414;

  transition: transform 0.3s ease-in-out;
}

.hide-aside {
  transform: translateX(-1000px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
aside::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
aside {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.links-title {
  color: #5b5b5b;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
}

.sidebar-links {
  margin-bottom: 1rem;
}

.sidebar-link {
  display: block;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
  color: #ececec;
  text-transform: capitalize;
  max-width: 180px;
}

.sidebar-link:hover {
  background-color: #3a3a3a;
}

.sidebar-link-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star {
  color: #303030;
}

.nav-mobile-links {
  display: none;
}

/* sign up modal */
.overlay {
  width: 100vw;
  height: 100vh;

  position: fixed;
  inset: 0 0 0 0;

  background-color: rgba(0, 0, 0, 0.8);

  z-index: 2;
}

.modal {
  max-width: 600px;
  width: 90%;

  background-color: #0e0e0e;

  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.1);

  z-index: 500;
}

.close-modal {
  font-size: 1.5rem;

  position: absolute;

  color: #fefefe;
  cursor: pointer;
}

.signup-close-modal {
  right: 5%;
  top: 5%;

  font-size: 1.5rem;
  cursor: pointer;
}

.modal-logo {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.modal-tagline {
  font-size: 0.75rem;
  color: #5b5b5b;
  text-align: center;
  max-width: 30ch;
  margin: 0 auto;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #303030;
}

.dot.active {
  background-color: #5b5b5b;
}

.modal-disclaimer-line {
  font-size: 0.75rem;
  color: #5b5b5b;
  text-align: center;
  margin-bottom: 1rem;
}

.continue-with {
  padding: 1rem 0;
  text-align: center;
  border: 1px solid #5b5b5b;
  border-radius: 2rem;
}

.continue-with-desc {
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
}

.continue-with-desc::before {
  font-size: 1.5rem;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.continue-with-facebook::before {
  font: var(--fa-font-brands);
  content: '\f09a';
  color: #4267b2;
}
.continue-with-google::before {
  font: var(--fa-font-brands);
  content: '\f1a0';
  color: #3cba54;
}
.continue-with-apple::before {
  font: var(--fa-font-brands);
  content: '\f179';
  color: #555555;
}

.continue-with-email::before {
  content: none;
}

.continue-with + .continue-with {
  margin-top: 0.5rem;
}

.already-member {
  display: block;
  margin-top: 2rem;
  text-decoration: none;
  color: #fefefe;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

/* login modal */
.login-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #303030;
}
.login-close-modal {
  cursor: pointer;
}
.or {
  margin: 0.5rem 0;
  text-align: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.login-form-field {
  background-color: #141414;
  border: 1px solid #303030;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fefefe;
  border-radius: 2px;
  font-family: 'Poppins', sans-serif;
  outline: none;
}
.login-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background-color: #006be6;
  color: #fefefe;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
}

.user {
  position: relative;
}

.dropdown-nav {
  position: absolute;

  top: 120%;
  right: 0%;
  background-color: #0e0e0e;

  border-radius: 10px;

  height: 0;
  overflow: hidden;
}

.show-dropdown-nav {
  border: 1px solid #303030;
  padding: 1rem 2rem;
  height: auto;

  z-index: 10;
}

.dropdown-link {
  text-decoration: none;
  color: #fefefe;
  display: block;

  min-width: 15rem;

  padding: 0.5rem 1rem;
  text-transform: capitalize;
}

.dark-mode {
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode-switch {
  background: #006be6;
  width: 2rem;
  height: 1rem;
  border-radius: 1rem;
  padding: 0 0.25rem;
  display: flex;
  align-items: center;
}

.circle {
  width: 0.75rem;
  height: 0.75rem;

  background: #fff;
  border-radius: 1rem;
}

.dropdown-nav-sec-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #3a3a3a;
}

.dropdown-nav-sec-links {
  height: 0;
  overflow: hidden;
}

.dropdown-nav-sec-link {
  display: inline-block;
  text-decoration: none;
  padding: 0.25rem 1rem;
  color: #fefefe;
}

.show-dropdown-nav-sec-links {
  height: auto;
}

.overlay-2 {
  background-color: rgba(0, 0, 0, 0.25);

  width: 100vw;
  height: 100vh;

  position: fixed;
  inset: 0 0 0 0;

  z-index: 2;
}

@media (max-width: 960px) {
  .hamburger {
    display: block;
  }

  .log-in,
  .sign-up,
  .pri-btn {
    display: none;
  }

  .nav-mobile-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: -2rem;
  }

  .nav-mobile-link {
    display: block;
  }
}

/* dropdown navbar */

@media (max-width: 760px) {
  .search {
    display: none;
  }

  .nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal {
    padding: 1rem;
  }
}

@media (max-width: 460px) {
  .continue-with-desc {
    font-size: 0.875rem;
  }
}
